/**
 * @name Cyberpunk 2077
 * @author Patryk Bielanin
 * @description Cyberpunk 2077 UI styled theme for better discord
 * @version 1.0.0
 * @website https://github.com/PatrykBielanin/discord-cyberpunk2077-theme
 * @source https://github.com/PatrykBielanin/discord-cyberpunk2077-theme/blob/main/cyberpunk2077.theme.css
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani');
@import url('https://patrykbielanin.github.io/discord-cyberpunk2077-theme/base.css');

:root {
    --background-primary: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
    --background-secondary: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
    --font-primary: 'Rajdhani';
    --primary-text-color: lightgray;

    --primary-color: #170D16F2;
    --dark-primary-color: #170D16;
    --dark-neon-green-color: #38ab6f;

    --neon-red-color: #FF003C;
    --neon-blue-color: #72EAF8;
    --neon-yellow-color: #F3E600;
    --neon-green-color: #47D58B;

   --light-primary-color: #170D1680;
   --light-neon-red-color: #FF003C80;
   --light-neon-blue-color: #72EAF880;
   --light-neon-yellow-color: #F3E600D6;
}
